* {box-sizing: border-box}
/* fonts */
@font-face {
	font-family: "dfds-bold";
	src: url("../fonts/dfds-bold.ttf");
}
@font-face {
	font-family: "dfds-light";
	src: url("../fonts/dfds-light.ttf");
}
@font-face {
	font-family: "segoe";
	src: url("../fonts/segoeui.ttf");
}

/* header */

header {
    display: flex;
	justify-content: space-between;
    background-color: #ffffff;
}

.menu-actions {
	display: flex;
}

.menu-actions > img {
	padding-right: 2em;
	cursor: pointer;
}

nav {
	display: flex;
	align-items: center;
}

nav > ul {
	display: flex;
	list-style: none;
	padding-inline-start: 0;
}

nav > ul img {
	padding-right: 2em;
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bottom > a {
	color: white;
	font-size: 18px;
}
.buttons > a {
	margin-right: 1em;
}

#zoeken {
	display: block;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
}
#zoeken > input {
	width: 100%;
	height: 3em;
	padding-left: 2em;
	background: white;
	border: none;

}

h1 {
	padding: 1em;
	margin: 0;
}

.articles {
	margin-left: 2em;
}


#logo {
    width: 8em;
    height: 5.5em;
}

/* body */

body {
	font-family: "segoe", sans-serif;
    background-color: #EAEDEE;
	margin: 0;
}

h1, h2, h3, h4 {
	font-family: "dfds-bold", sans-serif
}

article {
    color: #ffffff;
    position: relative;
    width: 20em;
	text-align: left;
    display: inline-block;
    background-color: #005184;
	margin: 0 3em 3em 0;
	padding: 1em;
}

/* styling voor de registeren & login pagina https://www.w3schools.com/howto/howto_css_register_form.asp */

/* Add padding to containers */
.form {
	margin-left: 2em;
	margin-right: 2em;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/* style voor registreren button */
.register-button {
	background-color: #005184;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 60%;
	opacity: 0.9;
	align-items: center;
}

.register-button:hover {
	opacity:1;
}

/* grijze achtergrond en centreren*/
.signin {
	text-align: center;
}

/*animeer knoppen*/
.button {
	transition: transform .1s ease-in-out;
}
.buttons > a:nth-child(1) > img:hover {
	transform: scale(1.1);
}
/*https://www.domysee.com/blogposts/coloring-white-images-css-filter for coloring*/
.buttons > a:nth-child(2) > img:hover {
	transform: scale(1.1);
	filter: brightness(0.5) sepia(1) saturate(10000%) opacity(80%);
}

.bottom > a:hover {
	text-decoration: none;
}

/* media queries */
@media only screen and (max-width: 600px) {
	article {
		margin-right: 0;
		width: 100%;
	}
	.articles {
		margin-right: 2em;
	}
}

@media only screen and (max-width: 600px){
	.register-button {
		width: 50%;
	}
}

.story-title {
	cursor: pointer;
}
.selected {
	color: darkgoldenrod;
}

#home {
	text-decoration: none;
	color: black;
}

/* Dropdown Button */
.dropbtn {
	background-color: #005184;
	color: white;
	width: 50%;
	padding: 16px;
	margin-left: 2em;
	font-size: 16px;
	border: none;
	cursor: pointer;
	position: relative;
	width: 10em;
	font-family: dfds-light;
  }
  
  /* Dropdown button hover & focus */
  .dropbtn:hover, .dropbtn:focus {
	background-color: #012944;
  }

  /* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #012944;
	min-width: 230px;
	z-index: 10;
	margin-left: 2em;
  }
  
  /* Tekst in dropdown */
  .radiobutton {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }

  .input {
	  margin-left: 1em;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}